* {
    padding: 0px;
    margin: 0px;
    font-family:cursive
}

.italic {
    font-style: italic;
}
/* __________________ Main -> Flex box __________________ */
main{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    width: fit-content;
}
/* __________________ Row_1: Nav Bar __________________ */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 670px;
    padding: 10px;
    margin:0px 0px 20px 0px;
    background-color: rgb(182, 181, 181);
}

nav input {
    width: 300px;
    padding: 5px;
    border: 3px solid black;
}

nav button{
    color: white;
    background-color: rgb(32, 107, 206);
    box-shadow: 3px 3px black;
    padding: 5px 10px;
    border: 3px solid black;
    font-size: medium;
}
/* __________________ Row_2: artical & aside __________________ */
main #row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
/* __________________ Article __________________ */
article { /* box */
    padding: 15px 45px 15px 15px;
    border: 3px solid black;
    margin: 0px 0px 20px 0px;
}

article h2 { /* ninja word */
    width: 100px;
    text-align: center;
}

article section { /* second row */
    display: flex;
    align-items: center;
}

article section .discrption { /* noun and plural */
    margin: 0px 30px 0px 0px;
    text-align: center;
}

article section h3 { /* noun */
    font-weight: 100;
}

article section h4 { /* pulral:ninjas */
    display: inline-block;
    font-weight: 100;
}

article button {
    background-color: rgb(243, 213, 79);
    box-shadow: 3px 3px black;
    padding: 5px 10px;
    border: 3px solid black;
    font-size: small;
    margin: 10px 0px 0px 0px;
}
/* __________________ Aside __________________ */
aside {
    padding: 15px 45px 15px 15px;
    border: 3px solid black;
    margin: 0px 0px 20px 0px;  
}

aside h2{
    font-weight: 540;
}

aside span {
    font-weight: bold;
}

aside button {
    background-color: rgb(140, 214, 162);
    box-shadow: 3px 3px black;
    padding: 5px 10px;
    border: 3px solid black;
    font-size: medium;
    margin: 10px 0px 0px 0px;
    width: 170px;
}